.smart-unsubscriber-section {
    display: block;
    width: 100%;
    padding: 72px 0 0;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}

.smart-unsubscriber-section .section-description {
    display: block;
    width: 100%;
    max-width: 548px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 26px;
    color: #000;
    margin-bottom: 3em;
}

.smart-unsubscriber-section .features-list {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 40px;
    text-align: center;
    vertical-align: top;
}

.smart-unsubscriber-section .feature-item {
    text-align: left;
    margin: 0;
    margin-bottom: 24px;
}

.smart-unsubscriber-section .feature-item h3:before {
    position: absolute;
    top: 0;
    left: -14px;
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    transform: translate(-100%, 0);
}

.smart-unsubscriber-section .feature-item.clock h3:before {
    background: url("../../icons/clock.svg");
}

.smart-unsubscriber-section .feature-item.controls h3:before {
    background: url("../../icons/controls.svg");
}

.smart-unsubscriber-section .feature-item.flash h3:before {
    background: url("../../icons/flash.svg");
}

.smart-unsubscriber-section .feature-icon, .smart-unsubscriber-section .text-wrapper  {
    display: inline-block;
    vertical-align: top;
}

.smart-unsubscriber-section .text-wrapper {
    width: 100%;
    max-width: 387px;
}

.smart-unsubscriber-section h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.6;
    color: #525252;
    margin-bottom: 0.6em;
    position: relative;
}

.smart-unsubscriber-section .feature-description {
    font-size: 16px;
    line-height: 1.625;
}

.smart-unsubscriber-section .section-preview {
    display: inline-block;
    vertical-align: top;
    margin-right: -400px;
    margin-left: 16%;
}

@media screen and (max-width: 1200px) {
    .smart-unsubscriber-section .section-preview {
        margin-left: 6%;
    }
}

@media screen and (max-width: 992px) {
    .smart-unsubscriber-section {
        display: inline-flex;
        flex-direction: column;
        padding-top: 48px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .smart-unsubscriber-section h2 {
        margin-left: auto;
        margin-right: auto;
    }

    .smart-unsubscriber-section .feature-item {
        margin-bottom: 32px;
    }

    .smart-unsubscriber-section .feature-item:last-child {
        margin-bottom: 0;
    }

    .smart-unsubscriber-section .section-preview {
        order: 1;
        width: 540px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
    }

    .smart-unsubscriber-section .features-list {
        order: 2;
    }

    .smart-unsubscriber-section .feature-item {
        text-align: center;
    }

    .smart-unsubscriber-section .feature-item .text-wrapper {
        text-align: left;
    }
}

@media screen and (max-width: 360px) {
    .smart-unsubscriber-section h2 {
        font-size: 28px;
    }
}
