.spotlight-section {
    padding: 112px 0;
    box-sizing: border-box;
    display: block;
    text-align: center;
    width: 100%;
    color: #fff;
    background: linear-gradient(0deg, #0B265A 11%, #5373E5 100%);
}

.spotlight-section .spotlight-image {
    display: inline-block;
    vertical-align: top;
}

.spotlight-section .text-wrapper {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-left: 8%;
    margin-right: 1%;
}

.spotlight-section h1 {
    display: block;
    max-width: 460px;
    width: 100%;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.350;
    margin-bottom: 0.3em;
}

.spotlight-section .app-description {
    display: block;
    max-width: 414px;
    width: 100%;
    font-size: 16px;
    line-height: 1.625;
    margin-bottom: 1.5em;
    font-weight: 400;
}

@media screen and (max-width: 1038px) {
    .spotlight-section .text-wrapper {
        margin-left: 4%;
    }
}

@media screen and (max-width: 992px) {
    .spotlight-section {
        padding: 88px 24px 32px;
    }

    .spotlight-section .spotlight-image {
        display: block;
        margin: 0 auto;
        width: 60%;
        text-align: center;
        margin-bottom: 38px;
    }

    .spotlight-section .text-wrapper {
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    .spotlight-section h1, .spotlight-section .app-description {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 576px) {
    .spotlight-section {
        text-align: left;
        padding-left: 24px;
        padding-right: 24px;
        box-sizing: border-box;
    }

    .spotlight-section .stars-rating {
        text-align: center;
    }

    .spotlight-section .spotlight-image, .spotlight-section .text-wrapper, .spotlight-section h1, .spotlight-section .app-description {
        text-align: left;
        margin-left: 0;
    }

    .spotlight-section .spotlight-image {
        width: 100%;
    }

    .spotlight-section h1 {
        margin-bottom: 16px;
    }

    .spotlight-section .app-description {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 480px) {
    .spotlight-section {
        padding-left: 32px;
        padding-left: 32px;
    }
}
